node_modules
vendor
.git
.env
.env.local
.env.production
.env.testing
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
tests
.github
.vscode
README.md
TODO.md 